@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply font-poppins antialiased;
		@apply bg-gradient-to-tr from-slate-300 to-slate-100;
		@apply text-slate-900 !important;
		@apply transition-colors duration-300;
		@apply select-none;
	}

	body[data-theme="dark"] {
		@apply bg-gradient-to-tr from-slate-950 to-slate-800;
		@apply text-slate-100 !important;
		@apply transition-colors duration-300;
		@apply select-none;
	}

	.animate-reveal {
		animation-timeline: view();
		animation-range: entry 0 20%;
	}
}
